*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  }
  a{
    text-decoration: none;
  }
    .tono{
      background-color: transparent;
      border: none;
    }
  #drop{
    color: yellow;
    }

    .dp{
      margin-top: 40px;
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.cancel{
  cursor: pointer;
  color: #000;
  text-align: right;
}
.dp a{
  text-align: left;
  display: block;
  padding: 19px;
  text-decoration: none;
  color: #000;
}
.dp-p:hover .dp{
display: block;
} 
    #brand{
        font-weight: 700;
        color: #fff;
        font-size: 30px;
        }
    nav{
    background: navy;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    }
    nav #drop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
    }
    nav #drop li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 2s;
    }
    nav #drop li a:hover{
    transition: 2s;
    }
    #brand-div .btn{
    display: none;
    }

  header{
  background-color: navy;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navul li{
padding-left: 20px;
}
#img{
  animation: spin 2.5s infinite linear;
  }
.t-type{
  width: 16.5ch;
  border-right: 3px solid #fff;
  animation: textt 8s steps(22), firstt .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 33px;
}

@keyframes textt {
  from{
    width: 0;
  }
}
@keyframes firstt {
  50%{
    border-color: transparent;
  }
}


  .tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }
  
  /*
   Styling
  */
  
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
  }
  .show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
  }
  
  input:focus-visible + label {
    outline: 2px solid rgba(0,102,204,1);
    border-radius: 3px;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label,
  .tabset > input:checked + label {
    color: #06c;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #06c;
  }
  
  .tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
  }
  
  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }

  .tabset {
    max-width: 65em;
  }
  

.card-tabs{
  padding: 20px;
  border-radius: 10px;
}
.card-tabs h4 h1{
 font-weight: 800;
}



  @keyframes spin {
  100%{
    transform: rotate(800deg);
    animation-iteration-count: infinite;
  }
}
.hover::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #1b9bff;
  transition: width .9s;
}
.hover:hover::after{
  width: 100%;
}
/* box_area */

.box_area{
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 80%;
  position: absolute;
}

.box_area li{
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  list-style: none;
  background: #1b9bff;
  animation: animate 8s linear infinite;
  bottom: -180px;
border-top-right-radius: 90px;
}
.box_area li:nth-child(1){
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box_area li:nth-child(2){
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box_area li:nth-child(3){
  left: 43%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box_area li:nth-child(4){
  left: 70%;
  width: 90px;
  height: 90px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box_area li:nth-child(5){
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box_area li:nth-child(6){
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}
.box_area li:nth-child(7){
  left: 78%;
  width: 45px;
  height: 45px;
  animation-delay: 3s;
}
.box_area li:nth-child(8){
  left: 80%;
  width: 27px;
  height: 27px;
  animation-delay: 4s;
}
.box_area li:nth-child(9){
  left: 46%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.box_area li:nth-child(10){
  left: 30%;
  width: 30px;
  height: 30px;
  animation-delay: 5s;
}
.image{
  position: relative;
}
.serv{
  justify-content: space-between;
}


.input_box input{
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid navy;
}
#error{
  display: none;
}

.input_box input[type="submit"] {
  color: #fff;
  padding: 10px;
  border: none;
  background: navy;
  border-radius: 10px;
  width: 70%;
}

.input_box textarea{
  border-radius: 5px;
  border: 2px solid navy;
 resize: both;
 overflow: auto;
 max-width: 70%;
 max-height: 30vh;
}
.addresses{
  text-align: center;
}
/* log&reg */
#clickdev, #clickdev2, #ctocart{
  position: absolute;
  min-height: 100vh;
 z-index: 999;
 animation-name: mod;
 animation-duration: 1s;
 transition: .2s;
 background: #000;
 color: #fff;
 border-radius: 15px;
 margin-top: 100px;
 padding: 40px;
left: 30%;
right: 30%;
display: none;
}
#golog{
  position: absolute;
  left: 80%;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}
@keyframes mod{
from{top: -300px}
to{top:0}
}

#clickdev input, #clickdev2 input{
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  border: none;
}
#dissnone{
  display: none;
}

.blured{
  filter: blur(5px);
}


 /*  */
@keyframes animate {
0%{
  transform: translateY(0) rotate(0deg);
  opacity: 9;
}
100%{
  transform: translateY(-800px) rotate(360deg);
  opacity: 0;
}
}
/* box_area */
.first-con{
  padding-top: 170px;
}
.border{
animation: mymove 0.5s infinite;
width: 160px;
height: 7px;
background: navy;
margin: 26px auto;
}
/*  */
.serall{
  justify-content: space-between;
}
/* keyframes */

@keyframes mymove {
  from
  {background-color:navy;
  color:#fff;
  }
  
  to {
  background-color: #fff;
  color: navy;
  }
    }
/* media */
@media only screen and (max-width: 992px) {
.firstdiv{
  padding-bottom: 60px;
}
.first-con{
  padding-top: 130px;
}
.firstdiv .row{
  justify-content: space-between;
}
#clickdev, #clickdev2, #ctocart{
 padding: 30px;
}
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


/* CAROUSEL
-------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (max-width: 767px) {
  .first-con{
    padding-top: 100px;
  }
  .first-con img{
    padding-top: 50px;
  }
  .faq-con{
    text-align: center;
  }
  
}

@media (max-width: 576px) {
.border{
  width: 100px;
height: 5px;
  }
    .socials{
  width: 100%;
  justify-content: center;
}
.socials i{
  font-size: 15px;
}
}
.hrr{
  display: none;
  background-color: #fff;
  color: #fff;
}
.profile-div{
  display: none;
}
.tono{
color: #fff;
}

.pic-bg{
  color: #fff;
  padding: 40px;
  background-image: linear-gradient(rgba(0,0,0,0.7),
  rgba(0,0,0,0.7)), 
   url(./icons/back3.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
}

.numbers{
  border: 2px solid #fff;
  padding: 30px;
}


.omoeh{
  justify-content: space-evenly;
}
.best{
  box-shadow: 4px 4px 4px 4px #a8a8a8f6;
}
.fa-car{
  font-size: 100px;
  color: navy;
}
.f-row{
  padding-top: 50px;
  padding-bottom: 50px;
}
.f-row2{
  padding-bottom: 50px;
}
.testi{
  color: #000;
  background: #d3deee;
}
.testi img{
  width: 100%;
}
.socials{
  width: 25%;
  justify-content: center;
}
.socials i{
  font-size: 30px;
}
.cart-show{
  display: none;
}
/* main media */
@media (max-width : 767px){
  .cart-show{
    display: block;
    font-size: 23px;
  }
  .cart-none{
    display: none;
  }
  nav{
  flex-direction: column;
  align-items: flex-start; 
  /* height: 85px;
  overflow: hidden; */
  }
  #clickdev, #clickdev2, #ctocart{
    position: fixed;
    height: 80%;
   z-index: 1000;
   margin-top: 0px;
   padding: 30px;
  left: 0%;
  right: 0%;
  bottom: 0%;
  top: 0%;
  display: none;
  }
  .hrr{
    display: block;
  }
  .dp{
    margin-top: 80px;
display: none;
position: absolute;
min-width: 300px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.card-tabs{
  margin-top: 20px;
  padding: 20px;
}

.input_box input[type="submit"] {
  width: 95%;
}
.input_box input{
  width: 95%;
}
.input_box textarea{
 max-width: 95%;
 max-height: 30vh;
}
.input_box{
  padding: 30px;
}
  .tono{
    border: 1px solid #fff;
    color: #000;
    font-size: 20px;
    background-color: transparent;
    }
  .profile-div{
    display: block;
  }
  .profile-div a{
    font-size: 25px;
  }
.reg-div{
  display: none;
}
.t-type{
  font-size: 30px;
}
  #brand-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  }
  #brand-div .btn{
  display: block;
  }
  .come{
    background-color: #fff;
    width: 100%;
    text-align: center;
  }
  .btn-c{
    width: 100%;
  }
  .btn-reg{
    display: none;
  }
  nav #drop{
    padding: 20px;
  flex-direction: column;
  width: 100%;
  background-color: #000;
  border-radius: 20px;
  transition: 1.5s;
  height: 90vh;
  }
  nav #drop li a{
    padding-top: 10px;
    }
  .show #drop{
  transform: translate(0);
  transition: 1.5s;
  }
  #drop{
      transform: translatex(-500%);
      transition: 1.5s;
  }
  .hide .btn,
  .active{
  width: 45px;
  height: 45px;
  position: relative;
  margin-top: 10px;
  cursor: pointer;
  }
  
  .btn .line1{
  width: 100%;
  background: #fff;
  height: 8px;
  top: 2px;
  position: absolute;
  transition: 0.5s;
  }
  
  .btn .line2{
  width: 100%;
  background: #fff;
  height: 8px;
  top: 17px;
  position: absolute;
  transition: 0.5s;
  }
  .btn .line3{
  width: 100%;
  background: #fff;
  height: 8px;
  top: 30px;
  position: absolute;
  }
  
  .active .line1{
  width: 100%;
  background: #fff;
  height: 8px;
  position: absolute;
  transform: rotate(-45deg);
  }
  .active .line2{
  width: 100%;
  background: #fff;
  height: 8px;
  position: absolute;
  transform: rotate(45deg);
  }
  .active .line3{
  display: none;
  }
  .hide{
  height: 100px;
  overflow: hidden;
  transition: 3s;
  }
  .show{
  height: fit-content;
  }
  .omoeh .col-md-3{
    padding-top: 60px;
  }
  .notu{
    padding-top: 0px;
  }
.f-row{
  padding-top: 0px;
  padding-bottom: 0px;
}
.f-row2{
  padding-bottom: 0px;
}
  }
  @media (max-width: 415px) {
    .t-type{
      font-size: 24px;
      font-weight: 800;
    }
    .pic-bg{
      color: #fff;
      padding: 30px;
      background-image: linear-gradient(rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)), 
       url(./icons/back3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

  }
  @media (max-width: 300px) {
    .t-type{
      font-size: 19px;
    }
  }